<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
              <div class="left-sidebar">              
                <div class="brands_products"><!--brands_products-->
                  <h2>Categories</h2>
                  <div class="brands-name">
                    <ul class="nav nav-pills nav-stacked" *ngFor="let cat of categories">                      
                      <li><a [routerLink]="['/category', cat.category_id]"> 
                            <span class="pull-right">({{cat.total_products}})</span>{{cat.name}}
                          </a>
                      </li>                      
                    </ul>
                  </div>
                </div><!--/brands_products-->                            
                <div class="shipping text-center"><!--shipping-->
                  <img src="assets/images/home/shipping.jpg" alt="" />
                </div><!--/shipping-->              
              </div>
            </div>   
            
            <!-- show products listint  -->          
            <app-product [categoryId]="categoryId"></app-product>        
            <!-- End products listint  -->
        </div>
    </div>
<section>

